# Data Science Tools and Ecosystem


In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science.
* Some of the commonly used libraries used by Data Scientists
* Data Science Tools 
* A few examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
* Python
* R
* SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. ggplot2
5. Plotly

| Data Science Tools |
| - |
| Visual Studio | 
| Anaconda | 
| Google Colab |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [6]:
# This a simple arithmetic expression to mutiply then add integers
a = (3*4)+5
print(a)

17

In [7]:
# This will convert 200 minutes to hours by diving by 60
b = 200 / 60 
print(b,"Hours")

3.3333333333333335 Hours

## Author
Ã–mer Mustafazade